<%- include('partials/navbar'); %>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../../public/stylesheets/about1.css">
<script src="../../public/javascripts/scroll.js"></script>

<div class="header"> 
  <section class="header-section" > 
  <div class="center-div" id="header-sec"> 
        <img src="../public/images/logo3-removebg-preview.png" alt="logo" class="center-img">
        <div class="header-buttons" style="margin-top: 20px;">
          <a href="#servicediv">Our Services</a>
          <a href="#about-us">About Us</a>
          <a href="#footerdiv">Contact Us</a></b>
        </div>
  </div>
  </section>
</div>
<br>

<section class="about-section clearfix py-5">
  <div class="container ">
    <div class="about">
      <img src="../public/images/2.jpg" class="about-img img-fluid mb-3 mb-lg-0 rounded" alt="about" data-aos="fade-down-left" data-aos-duration="1000">
      <div class="about-text text-center bg-faded" data-aos="fade-up-right" data-aos-duration="1000"> 
        <h2 class="about-heading mb-3">
          <span class="about-heading-upper">Welcome</span><br>
          <span class="about-heading-lower">To Our Hospital</span>
        </h2>
        <h6>Jupiter's vision for the next phase of development is to<br>'Touch a Billion Lives'..<br>Our employees not just treat you they look after you.</h6>
      </div>
    </div>
  </div>
</section>

<a id="about-us"></a>
<section class="aboutus-section clearfix py-5">
  <h2 style="text-align: center; font-size: 40px;"><b>About Us</b></h2>
    <div class="container">
    <div class="aboutus">
      <img src="../public/images/7.jpg" class="aboutus-img img-fluid mb-3 mb-lg-0 rounded" alt="about" data-aos="zoom-in-right">
      <div class="aboutus-text bg-faded" data-aos="zoom-in-left" data-aos-duration="1000">
        <h2 class="aboutus-heading mb-3 font-weight-bold">
          <span class="aboutus-heading-upper">Highest Quality through Specialisation</span><br>
        </h2>
        <p>For <c>over three decades</c>, we have specialised in ,<c>specific areas of medicine - mental health, orthopaedics, neurology, surgery and general medicine</c>. This approach has given us an in-depth understanding of specific disorders and their treatments, enabling us to focus on providing the best treatment options and care for our patients. Each year, our 10,600 employees treat and care for around 300,000 patients at currently 8 locations in India.<br>
        </p>
      </div><br>

      <img src="../public/images/17.jpg" class="aboutusf-img img-fluid mb-3 mb-lg-0 rounded" alt="about" data-aos="zoom-in-left">
      <div class="aboutusf-text bg-faded" data-aos="zoom-in-right" data-aos-duration="1000">
        <h2 class="aboutusf-heading mb-3 font-weight-bold">
          <span class="aboutus-heading-upper">Our Aim</span><br>
        </h2> 
        <p>
        Our aim is to give every patient the prospect of a better quality of life. To do so, our <c>reinvestment model</c> ensures we maintain a high standard of quality and are able to be <c>innovative and forward thinking with our infrastructure, clinical delivery and staff development</c>. Additionally, our collaboration with experienced specialists, expert healthcare professionals, clinical partners and patient groups ensures we provide the best-possible experience and care for patients and their families when visiting our hospitals. 
        </p>
      </div>

      <img src="../public/images/14.jpg" class="aboutuss-img img-fluid mb-3 mb-lg-0 rounded" alt="about" data-aos="zoom-in-right">
      <div class="aboutuss-text bg-faded" data-aos="zoom-in-left" data-aos-duration="1000">
        <h2 class="aboutus-heading mb-3 font-weight-bold">
          <span class="aboutus-heading-upper">Pioneers in quality measurement</span><br>
        </h2> 
        <p>For us, the benefits our patients gain from their treatment is the most important factor. To measure our effectiveness, we have developed our own unique assessment tool - <c>MedQEX (the Medical Quality and Excellence Index)</c> this assesses the quality of the hospital stay based on three critical criteria:
          <ol><li>Quality of treatment</li>
          <li>Patient safety</li>
          <li>Patient experience</li></ol>
          Our evaluation data and methodology has received <c>International Recognition</c> and acknowledgment for our achievements.
        </p>
      </div>
    </div>
  </div>
</section>

<a id='servicediv'></a>
<section class="header-extradiv"> 
  <h2 style="text-align: center; font-size: 40px;"><b>Our Services</b></h2>
  <div class="container" data-aos="zoom-in-down" data-aos-duration="500">
    <div class="row">
      <div class="extra-div col-lg-4 col-md-4 col-12">
        <img src="../public/images/4.jpg"> 
        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
          Mission, Vission & Values
        </button>   
      </div>
      <div class="extra-div col-lg-4 col-md-4 col-12">
        <img src="../public/images/5.jpg">   
        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
          Advanced Technologies
        </button>         
      </div>
      <div class="extra-div col-lg-4 col-md-4 col-12">
        <img src="../public/images/6.jpg">
        <hr hr-dark>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
          Infrastructure & Facilities
        </button>             
      </div>     
    </div>
  </div>
</section>

<div class="modal fade" id="modal">
  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title text-center bg-faded font-weight-bold">Mission</h6>
          </div>
          <div class="modal-body">
              <ul><li>To ensure accessible and affordable quality healthcare by compassionate medical professionals to all.</li>
                <li>To cultivate an environment of trust, honesty, mutual respect, equality, and ethics.</li></ul>
          </div>
          
          <div class="modal-header">
            <h6 class="modal-title text-center bg-faded font-weight-bold">Vision</h6>
          </div>
          <div class="modal-body">
              <ul><li>To evolve as a benchmark in quality healthcare available to one and all.</li></ul>
          </div>
          
          <div class="modal-header">
            <h6 class="modal-title text-center bg-faded font-weight-bold">Values</h6>
          </div>
          <div class="modal-body">
              <ul><li>To provide value added innovative, consistent, and continuously improving health and medical care to sustain and further improve clinical outcomes, patient safety, & patient satisfaction.</li></ul>
          </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal1">
  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title text-center bg-faded font-weight-bold">SPECT/CT</h6>
          </div>
          <div class="modal-body">
              <ul><li>SPECT/CT is an advanced and highly integrated diagnostic solution. It expands the role of nuclear medicine into routine surgical planning, orthopedics, advanced cardiology, and much more.</li>
              </ul>
          </div>
          
          <div class="modal-header">
            <h6 class="modal-title text-center bg-faded font-weight-bold">LINAC Accelerator (Novalis Tx)</h6>
          </div>
          <div class="modal-body">
              <ul><li>Novalis Tx is a radiosurgery system that is one of the most advanced cancer treatments available. Radiosurgery is a highly precise form of radiation therapy that uses a beam of energy that is shaped to match the outline of the tumor.</li></ul>
          </div>
          
          <div class="modal-header">
            <h6 class="modal-title text-center bg-faded font-weight-bold">High Dose Rate (HDR) Brachytherapy</h6>
          </div>
          <div class="modal-body">
              <ul><li>High-dose rate (HDR) brachytherapy involves placing a protected source of high energy radiation directly within the tumor and using radioactive plaques, needles, or small "seeds" made of radionuclides.</li></ul>
          </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal2">
  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title text-center bg-faded font-weight-bold">Infrastructure</h6>
          </div>
          <div class="modal-body">
              <ul><li>Within lies one of Asia’s largest hospitals, offering residential accommodation to its doctors and staff, and facilitating a premier department of emergency medicine and centers of excellence for key super specialties.
                Making Your Care Comfortable </li>            
                <li>Built on a sprawling area of 17 acres of land with 2 million sq.ft. of built-up area, we offer an array of medical services, ranging from preventive to curative and consultancy. View the list of infrastructure and facilities which we have to offer.</li></ul>
          </div>
          
          <div class="modal-header">
            <h6 class="modal-title text-center bg-faded font-weight-bold">Facilities</h6>
          </div>
          <div class="modal-body">
              <ul><li>Patient waiting area</li>
                <li>Multi Cuisine Food Court</li>
                <li>Banking Facility</li>
                <li>Accident & Emergency Center</li>
                <li>OPD and Consulting Room</li>
                <li>LDRP and Critical Care Units</li>
              </ul>
          </div>
      </div>
    </div>
</div>

<section class="facilities"> 
  <div class="page-wrapper">
    <div class="post-slider">
      <h2 class="slider-title font-weight-bold" style="font-size: 40px;">Facilities</h2>
      <i class="fa fa-chevron-left prev"></i>
      <i class="fa fa-chevron-right next"></i>
      <div class="post-wrapper">
        <div class="post">
          <img src="../public/images/8.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">General Ward</h4>
				    	</div>
        </div>

        <div class="post">
          <img src="../public/images/9.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">Emergency</h4>
				    	</div>
        </div>

        <div class="post">
          <img src="../public/images/10.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">Operation Theater</h4>
				    	</div>
        </div>

        <div class="post">
          <img src="../public/images/11.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">IVF Lab</h4>
				    	</div>
        </div>

        <div class="post">
          <img src="../public/images/12.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">IVF OT</h4>
				    	</div>
        </div>

        <div class="post">
          <img src="../public/images/13.jpg" class="slider-image">
						 	<div class="post-info">
						 		<h4 class="post-title text-center">CATH Lab</h4>
				    	</div>
        </div>
        
      </div>
    </div>
  </div>
</section><br><br>

<a id="footerdiv"></a>
<footer class="footersection">
  <h2 class="text-center font-weight-bold text-light" style="font-size: 40px;">Contact Us</h2>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 footer-div">
            <div class="contact-box mt-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h3>Address</h3>
              <p>Station Rd, Agarkar Nagar, <br>Pune, Maharashtra <br>Zip Code:41100</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 footer-div">
            <div class="contact-box mt-4">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <h3>E-mail</h3>
              <p>jupiterhospital@info.com<br>
                patientcare@jupiterhospital.com</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 footer-div">
            <div class="contact-box mt-4">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
              <h3>Call Us</h3>
              <p>+912066819999&nbsp;&nbsp;&nbsp;+912066819966<br>
                <b>For appointment:</b><br>              
                 +912066819967&nbsp;&nbsp;&nbsp;+912066819968
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
      <p style="color: #fff">Copyright © 2020 jupiterhospital.com. All Rights Reserved.</p>
      </div>
      <div class="scrolltop float-right">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn" style="display: none;"></i>
      </div>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../public/javascripts/sup.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<%- include('partials/footer'); %>

